body {
    font-family: "Roboto";
    color: #212121;
    
}



/* Шапка сайта */
.page-header{
    
    background: #FFFFFF;
    
   
}

.logo {
    
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    text-decoration: none;
    color: #212121;
}
.logo-web {
    color: #2196F3;
}
.site-nav{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
.site-nav li a{
    list-style: none;
    text-decoration: none;
    color: #212121;
}
.site-nav-studio:hover{
    color: #2196F3;
}
.site-nav-portfolio:hover{
    color: #2196F3;
}
.site-nav-contacts:hover{
    color: #2196F3;
}
li{
    list-style-type: none;
}

.site-contacts a{
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #757575;
}
.site-contacts a:hover{
    color: #2196F3;
}








footer{
    background: #757575;
}

